In [2]:
print("Hehe world")

Hehe world

In [ ]:
print("*" *10)

**********

In [ ]:
print ("Sending message")
print ("Sending message")

Sending message
Sending message

In [9]:
int = 7
float = 2.15
list = ['Ram',20, 'Kathmandu']
dictionary = {'Name': 'Ram' , 'Age': 20}

print (int)
print (float)
print (list)
print (dictionary)

7
2.15
['Ram', 20, 'Kathmandu']
{'Name': 'Ram', 'Age': 20}

In [5]:
name = "Sajin"
print(f"Hello, {name}!")

Hello, Sajin!

In [ ]:
for number in range (1,4):
  print("Attempt",number, number*".")

Attempt 1 .
Attempt 2 ..
Attempt 3 ...

In [ ]:
successful = False
for number in range (1,4):
  print("Attempt")
  if successful:
    print("Successful")
    break
else:
    print("Attempted 3 times and failed")

Attempt
Attempt
Attempt
Attempted 3 times and failed

In [4]:
command =""
while command.lower() != "quit":
  command = input(">")
  print("ECHO", command)

>1
ECHO 1
>r
ECHO r
>quit
ECHO quit

In [ ]:
count = 0
for number in range(1, 10):
  if number % 2 == 0:
    count += 1
    print (number)
print(f"We have {count} even occurances")

2
4
6
8
We have 4 even

In [ ]:
def greeting(name):
  print(f"Hello, {name}!")


greeting("Sajin")

Hello, Sajin!

In [1]:
class Dog:
  def __init__(self, name):
    self.name = name
  def bark(self):
    print(f"{self.name} bhukxa!")


my_dog = Dog("Kale")
my_dog.bark()

Kale bhukxa!